.upcomingTrekcontainer{
    text-align: center;
}
.upcomingTrekHeadings{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.upcomingTrekSubHeading{
    color: #F5F5F5;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 22px;
    font-weight: 400;

}
.upcomingTrekMainHeading{
    color: #F5F5F5;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 45px;
    font-weight: 500;
}
.upcomingTrekCardDiv{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.upcomingTrekViewDiv{
    margin-top: 30px;
}
.upcomingViewBtn{
    background-color: #00B1E8;
    border: 1px solid #00B1E8;
    color: #FFFFFF;
    height: 44px;
    padding: 0px 40px;
    gap: 10px;
    border-radius: 50px;
}
