.activityComContainer {
    width: 100%;
    height: 100%;
}
.activityComSubheading {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #F5F5F5;
}

.activityComHeading {
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.activityCardsCom{
    margin-top: 40px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.activitySeeMoreDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.activitySeeMoreBtn{
    font-family: 'Sora', sans-serif;
    border-radius: 30px;
    padding: 15px 25px;
    background-color:  #00B1E8;
    color:#FFFFFF;
}
@media (max-width:576px) {
    .activityCardsCom{
        margin-top: 40px;
        width: 100%;
        gap: 20px;
    }
    .activitySeeMoreBtn{
        font-size: 15px;
        font-family: 'Sora', sans-serif;
        border-radius: 30px;
        padding: 10px 20px;
        background-color:  #00B1E8;
        color:#FFFFFF;
    }
}
@media (min-width:576px) {
    .activityCardsCom{
        margin-top: 40px;
        width: 100%;
        gap: 20px;
    }
 
}
@media (min-width:786px) {

}
@media (min-width:991px) {

}
@media (min-width:1200px) {

}