.gradientContainer {
    width: 100%;
    height: 100%;
    background: linear-gradient(3600deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.896));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.896)), url("MountainHero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.upperGradient {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, #040505 5%, rgba(31, 217, 155, 0) 100%);
    z-index: 1;
}

.lowerGradient {
    width: 100%;
    height: 209px;
    background: linear-gradient(360deg, #040505 5%, rgba(31, 217, 155, 0) 100%);
}

/* ------------------------------------------------ */
.upcomingTrekContainer {
    padding: 10px 120px;
    width: 100%;
    z-index: 5;
}

/* --------------------------------------------------- */
.activitiesContainer {
    margin-top: 200px;
    padding: 10px 120px;
    width: 100%;
    color: #fff;
    text-align: center;
}

@media (max-width:576px) {
    .upcomingTrekContainer {
        padding: 10px 20px;
    }

    /* --------------------------------------------------- */
    .activitiesContainer {
        padding: 10px 20px;
    }
}