.heroSectionContainer{
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(/HeroImgOriginal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroSectionContent{
    display: flex;
    flex-direction: column;
    width: 900px;
    text-align: center;
    color: #FFF;
}
.heroSectionSubHeading{
    color: #FFF;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.heroSectionHeading{
    margin-top: 30px;
    color: #FFF;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 50px;
    font-weight: 600;
}
.heroSectionButtonDiv{
    margin-top: 42px;
}
.heroSectionBtn{
    color: #FFFFFF;
    font-family: 'Sora', sans-serif;
    border: 1px solid #00B1E8;
    border-radius: 50px;
    font-size: 20px;
    background-color: #00B1E8;
    height: 50px;
    padding: 0px 30px;
}
@media (max-width:576px) {

    .heroSectionSubHeading{
        font-size: 15px;
    }
    .heroSectionHeading{
        margin-top: 30px;
        font-size: 20px;
    }
    .heroSectionButtonDiv{
        margin-top: 42px;
    }
    .heroSectionBtn{
        font-size: 15px;
        height: 30px;
        padding: 0px 30px;
    }
  
}
@media (min-width:480px) {

    .heroSectionSubHeading{
        font-size: 18px;
    }
    .heroSectionHeading{
        margin-top: 30px;
        font-size: 25px;
    }
    .heroSectionBtn{
        font-size: 20px;
        height: 40px;
        padding: 0px 27px;
    }
}
@media (min-width:576px) {
    .heroSectionSubHeading{
        font-size: 20px;
    }
    .heroSectionHeading{
        margin-top: 30px;
        font-size: 30px;
    }
    .heroSectionBtn{
        font-size: 20px;
        height: 40px;
        padding: 0px 27px;
    }
  
}
@media (min-width:786px) {
    .heroSectionSubHeading{
        font-size: 25px;
    }
    .heroSectionHeading{
        margin-top: 30px;
        font-size: 40px;
    }
    .heroSectionBtn{
        font-size: 25px;
        height: 40px;
        padding: 0px 30px;
    }
  
}
@media (min-width:991px) {
    .heroSectionHeading{
        margin-top: 30px;
        font-size: 40px;
    }
    .heroSectionBtn{
        font-size: 25px;
        height: 40px;
        padding: 0px 30px;
    }
  
}
@media (min-width:1200px) {
    
}
