.trekCardsContainer{
    margin-top: 20px;
    position: relative;
    height: 480px;
    width: 400px;
}
.trekCardImg{
    width:100%;
    height:480px;
    object-fit: cover;
    border-radius: 30px;
}
.trekCardContentDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px;
    padding: 15px;
    border-radius: 18px;
    background-color: #202222;
    color: #FFFFFF;
}
.trekCardHeading{
    color: #FFF;
    text-align: start;
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.trekCardInfo{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.trekCardDuration,.trekCardDifficulties{
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.trekCardPriceBuyDiv{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.trekCardPrice{
    color: #FFF;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.trekCardBuyBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #00B1E8;
    border-radius: 50px;
    color: #FFF;
    font-family: 'Sora', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width:360px) {
    .trekCardHeading{
        font-size: 20px;
    }
    .trekCardDuration,.trekCardDifficulties{
        font-size: 10px;
        flex-direction: column;
    }
    .trekCardPrice{
        font-size: 15px;
    }
    .trekCardBuyBtn{
        width: 70px;
        height: 20px;
        font-size: 10px;
    }
}

